@{
    ViewData["Title"] = "Giriş Yap";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2 class="text-center mb-4">Giriş Yap</h2>

            @using (Html.BeginForm("Index", "Login", FormMethod.Post))
            {
                <div class="mb-3">
                    <label for="e-email" class="form-label">Kullanıcı Maili</label>
                    <input type="email" class="form-control" id="email" name="email" required />
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Kullanıcı Adı</label>
                    <input type="text" class="form-control" id="username" name="username" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Şifre</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <button type="submit" class="btn btn-primary w-100">Giriş</button>
            }

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger mt-3">@ViewBag.Error</div>
            }
        </div>
    </div>
</div>
